---
import BlogList from "@components/BlogList.astro";
import { getPosts, getProjects } from "../../blog";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import ProjectHero from "@components/ProjectHero.astro";
import { PAGE_SIZE } from "../blog/[...page].astro";
import type { PaginateFunction } from "astro";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const projects = await getProjects(true);
  return (
    await Promise.all(
      projects.map(async (project) => {
        const posts = (await getPosts()).filter((post) =>
          post.id.startsWith(project.id)
        );
        return paginate(posts, {
          pageSize: PAGE_SIZE,
          params: { project: project.id },
          props: { project: project },
        });
      })
    )
  ).flat();
}

const { page, project } = Astro.props;
---

<DefaultLayout title={project.data.title}>
  <section>
    <ProjectHero project={project.id} />
  </section>
  <section>
    <h2>Blog</h2>
    <BlogList page={page} />
  </section>
</DefaultLayout>
