@use "@linwooddev/style";

@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter_18pt-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter_18pt-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter_18pt-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter_18pt-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter_18pt-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

.no-decoration {
  text-decoration: none;
}
