@use '@linwooddev/style';

@font-face {
	font-family: 'Barlow';
	src: url(/fonts/Barlow/Barlow-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Barlow';
	src: url(/fonts/Barlow/Barlow-Bold.ttf);
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Barlow';
	src: url(/fonts/Barlow/Barlow-Light.ttf);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Barlow';
	src: url(/fonts/Barlow/Barlow-Medium.ttf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Barlow';
	src: url(/fonts/Barlow/Barlow-SemiBold.ttf);
	font-weight: 600;
	font-style: normal;
}
