---
import DefaultLayout from "../layouts/DefaultLayout.astro"

---

<DefaultLayout title="404 - Page not found">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        h1 {
            font-size: 10rem;
            font-weight: 900;
            margin: 0;
        }
        p {
            font-size: 2rem;
            font-weight: 900;
            margin: 0;
        }
    </style>
    <div class="container">
        <h1>404</h1>
        <p>Page not found</p>
    </div>
</DefaultLayout>