---
import { CollectionEntry, getCollection } from "astro:content";
import BlogsList from "@components/BlogsList.astro";
import { getProjects } from "../blog";
import Link from "@components/Link.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import ProjectHero from "@components/ProjectHero.astro";

export async function getStaticPaths() {
  return (await getProjects()).map((project) => ({
    params: { project: project.id },
    props: project,
  }));
}

export type Props = CollectionEntry<"projects">;

const current = Astro.props;
const posts = (await getCollection("blog"))
  .filter((post) => post.id.startsWith(current.id))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<DefaultLayout title={current.data.title}>
  <section>
    <ProjectHero project={current.id} />
  </section>
  <section>
    <h2>Blogs</h2>
    <BlogsList posts={posts} />
  </section>  
</DefaultLayout>
