---
import { getEntry } from "astro:content";
import { Image } from 'astro:assets';

export interface Props {
    author?: string;
}

const { author } = Astro.props;
const current = author && await getEntry("authors", author);
---

{
    current && (
        <a href={current.data.url} class="author">
            <Image class="author-avatar" alt={`Avatar of ${current.data.name}`} src={current.data.avatar} width={64} height={64} />
            <p class="author-name">{current.data.name}</p>
        </a>
    )
}
<style lang="scss">
    .author {
        text-decoration: none;
        color: inherit;
        display: inline-flex;
        align-items: center;
        gap: 1em;
        font-weight: 500;
    }
    .author-avatar {
        border-radius: 100%;
        width: 2em;
        height: 2em;
    }
</style>
