---
import type { CollectionEntry } from "astro:content";
import { getEntryUrl } from "../blog";
import BaseHead from "./BaseHead.astro";
import FormattedDate from "./FormattedDate.astro";
import Link from "./Link.astro";

export interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props as Props;
---

  <ul class="col align-stretch gap-sm pv-sm">
    {
      posts.map((post) => (
        <li>
          <Link variant="secondary" href={`/${getEntryUrl(post)}`} class="full row align-center gap-md wrap ph-sm pv-xs">
            <div class="w-sm">
              <FormattedDate date={post.data.date} />
            </div>
            <p>{post.data.title}</p>
          </Link>
        </li>
      ))
    }
  </ul>
