---
import Link from "./Link.astro";

const today = new Date();
---

<footer>
	<div>
		<div>
			<Link variant="secondary" href="https://twitter.com/@LinwoodDev" rel="me" target="_blank">Twitter</Link>
			<Link variant="secondary" href="https://floss.social/@Linwood" rel="me" target="_blank">Mastodon</Link>
			<Link variant="secondary" href="https://linwood.dev/matrix" rel="me" target="_blank">Matrix</Link>
			<Link variant="secondary" href="https://linwood.dev/discord" rel="me" target="_blank">Discord</Link>
			<Link variant="secondary" href="https://github.com/LinwoodDev" rel="me" target="_blank">GitHub</Link>
		</div>
		<div>
			<Link variant="secondary" href="/imprint">Impressum</Link>
			<Link variant="secondary" href="/privacypolicy">Datenschutzerklärung</Link>
		</div>
	</div>
	&copy; {today.getFullYear()} Linwood. All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
