---
import Link from "./Link.astro";
import { SITE_TITLE } from "../consts";
---

<header class="navbar">
  <a href="/" class="navbar-title">
    <h2 class="row gap-sm">
      <img src="/logos/logo.png" height="32" width="32" alt="Astro Logo" />
      {" "}
      {SITE_TITLE}
    </h2>
  </a>
  <nav class="navbar-items">
    <Link variant="secondary" href="/">Home</Link>
    <Link variant="secondary" href="/blog">Blog</Link>
  </nav>
</header>
