---
import { Image } from "astro:assets";
import Link from "./Link.astro";
import { SITE_TITLE } from "../consts";
import logo from "../../public/logos/logo.png";
---

<header class="navbar">
  <a href="/" class="navbar-title">
    <Image src={logo} height="32" width="32" alt="Linwood Logo" />
    {SITE_TITLE}
  </a>
  <nav class="navbar-items">
    <Link variant="secondary" href="/">Home</Link>
    <Link variant="secondary" href="/blog">Blog</Link>
  </nav>
</header>
