---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
	variant?: 'primary' | 'secondary' | 'default'
};

const { href, class: className, variant, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={["btn", className, { active: isActive }, variant ]} {...props}>
	<slot />
</a>
