---
import Link from "./Link.astro";

type Props = {
  href?: string;
};

const { href } = Astro.props;
---

<li class="table-item">
  <Link
    variant="secondary"
    href={href}
    class="col align-center justify-center h-full text-normal ph-sm pv-xs"
  >
    <slot />
  </Link>
</li>

<style>
  .table-item {
    height: 100%;
  }
</style>
